

header {
  font-family: Helvetica, sans-serif;
}
.subtitle {
  color:#BD1E1E
}
#masthead {
   text-align: center;
}

.thumbnail {
  width: 150px;
  height: 100px;
}

.logo {
  width: 500px;
  height: 100px;
}

html, body, #GimmeTheLoot {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0
}
